<% breadcrumb :edit_user_registration, @user %>
<h2>ユーザー情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <span>新しい</span><%= f.label :パスワード %> <i>（変更したくない場合は何も入力しないで下さい）</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>※<%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <span>新しい</span><%= f.label "パスワード （確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<br>
<p>ユーザー情報を削除したい場合は以下をクリックしてください。<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%# <%= link_to "Back", :back %>
